cython
dask-glm
dask-ml
dask[array,dataframe]
dateparser
deprecated
distributed
geopandas
h5netcdf
h5py==2.10.0
joblib
matplotlib
netcdf4
numba
numexpr
numpy
numpydoc
opencv-python
pandas
rasterio
scikit-learn==0.23.2
scipy
shapely
sklearn-crfsuite
tqdm
wget
xarray
zarr
lightgbm
#tensorflow==1.13.1
#keras==2.2.4
#git+https://github.com/keras-team/keras-contrib.git
